
    
        #content {
            max-width: 1600px;
            margin: auto;
        }
        div.a {
            text-align: center;
        }
          
        div.b {
            text-align: left;
        }
        .buttons {
            background-color: aqua;
        }
          
        div.c {
            text-align: right;
            text-align: justify;
        }
        body {
            background-color: #fcfbfb; 
        }
        header {
            background-color:#D16100 ;
        }
        main section {
            text-align: center;
        }
        #hero img{
            width: 100%;
        }
        #hero-msg {
            text-align: center;
        }
        #background {
            background-color: #75DEE6;
            height: 725px;

        }
        .msg {
            background-color:#D16100 ;
        }
        footer {
            background-color:#D16100;
        }
        footer a {
            text-decoration: none;
        }
        .icon, .logo {
            width: 80px;
        }
        footer p {
            font-size: 1.2em;
        } 
        nav a {
            text-align: center;
            color: #fcfbfb;
            text-decoration: none;
        }          
    