
    
        * {
            max-width: 1600px;
            text-align: center;
            margin: auto;
        }
        div.a {
            text-align: center;
        }
          
        div.b {
            text-align: left;
        }
        .buttons {
            background-color: aqua;
        }
          
        div.c {
            text-align: right;
            text-align: justify;
        }
        body {
            background-color: #fcfbfb; 
        }
        header {
            background-color:#D16100 ;
        }
        #background {
            background-color: #fcfbfb;
        }
        .msg {
            background-color:#D16100 ;
        }
        footer {
            background-color:#D16100 ;
        }
        .icon {
            width: 80px;
        }
        footer p {
            font-size: 1.2em;
        } 
        nav a {
            text-align: center;
            color: #fcfbfb;
            text-decoration: none;
        }          
    